<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="navbar-fixed">
            <nav class="nav-wrapper black">
                <div class="container">
                <a href="{% url 'post' %}" class="brand-logo">Instagram</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                        <div class="nav-wrapper">
                          <div class="col-sm-6 col-md-6">
                            {% if user.is_authenticated %}
                            <ul>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                       <span class="caret"></span>
                                    </a>
                                <ul class="dropdown-menu" role="menu">
                                  <li>
                                     <a href="{%url 'newsToday'%}">Home</a>
                                  </li>
                                  <li>
                                    <a href="{%url 'new-article'%}">Create Article</a>
                                  </li>
                                  <li>
                                     <a href="/accounts/password/change">Change Password</a>
                                  </li>
                                  <li>
                                     <a href="/logout">Logout</a>
                                  </li>
                              </ul>
                              {% else %}
                              <li>
                                <a class='btn btn-default' href="/accounts/login">Login</a>
                              </li>

                              {% endif %}
                          </div>
                                <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                                  <div class="input-field">
                                    <input id="search" type="search" placeholder="Search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                  </div>
                                </form>
                        </div>
                </ul>
            </nav>>
    </div>
</body>
</html>
